@use '../../global_styles/color';

.Cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;

    h1 {
        text-shadow: 0 0 10px color.$primary-light;
        margin-bottom: 40px;
    }

    .total {
        display: flex;
        flex-direction: column;
        width: 50%;
        justify-content: center;
        align-items: center;

        p {
            margin: 20px;
            font-size: 2rem;
            font-weight: bold;
        }

        a {
            width: 100%;
            display: flex;
            margin: 10px 0;
        }

        button {
            width: 100%;
            padding: 20px;
            // margin: 10px;
            background-color: color.$primary;
            color: white;
            font-size: 1.5rem;
            text-transform: uppercase;
            font-weight: bold;

            &:hover {
                cursor: pointer;
                text-shadow: 0 0 10px color.$secondary;
            }

            &:active {
                transform: scale(0.9);
            }
        }
    }
}
