@use '../../global_styles/color';

.Cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    animation: scale-in-ver-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;

    h1 {
        text-shadow: 0 0 10px color.$primary-light;
        margin-bottom: 40px;
    }

    .total {
        display: flex;
        flex-direction: column;
        width: 50%;
        justify-content: center;
        align-items: center;

        p {
            margin: 20px;
            font-size: 2rem;
            font-weight: bold;
        }

        a {
            width: 100%;
            display: flex;
            margin: 10px 0;
        }

        button {
            width: 100%;
            padding: 20px;
            // margin: 10px;
            background-color: color.$primary;
            color: white;
            font-size: 1.5rem;
            text-transform: uppercase;
            font-weight: bold;

            &:hover {
                cursor: pointer;
                text-shadow: 0 0 10px color.$secondary;
            }

            &:active {
                transform: scale(0.9);
            }
        }
    }

    @keyframes scale-in-ver-top {
        0% {
            -webkit-transform: scaleY(0);
            transform: scaleY(0);
            -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
            opacity: 1;
        }
        100% {
            -webkit-transform: scaleY(1);
            transform: scaleY(1);
            -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
            opacity: 1;
        }
    }
}

@media screen and (max-width: 380px) {
    .Cart {
        .total {
            p,
            button {
                font-size: 1.1rem;
            }
        }
    }
}
