@use '../../global_styles/color';

.Card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    margin: 20px;
    border: 5px solid white;
    border-radius: 10px;
    box-shadow: 10px 10px 30px color.$primary;
    background-color: whitesmoke;
    color: color.$primary;

    h2 {
        text-align: left;
        font-size: 1.2rem;
        display: block;
        padding: 10px;
    }

    h3 {
        padding-bottom: 10px;
    }

    img {
        width: 100%;
        border-radius: 10px;
    }

    button {
        padding: 20px;
        background-color: transparent;
        color: color.$primary;
        border-radius: 10px;
        font-weight: bold;
        width: 100%;

        &:hover {
            cursor: pointer;
            text-shadow: 0 0 10px color.$secondary;
            background-color: color.$primary;
            box-shadow: 0 0 10px black;
            color: white;
        }

        &:active {
            transform: scale(0.9);
        }
    }

    p {
        padding-top: 10px;

        &:hover {
            cursor: pointer;
            text-shadow: 0 0 10px color.$secondary;
            color: white;
        }
    }
}

.Description {
    background-color: black;
    height: 100vh;
}

.tooltip {
    width: 500px !important;
}

@media screen and (max-width: 768px) {
    .tooltip {
        width: 400px !important;
    }
}

@media screen and (max-width: 655px) {
    .tooltip {
        width: 300px !important;
    }
}
