.CartItem {
    display: flex;
    flex-direction: row;

    img {
        width: 50%;
    }

    .info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 20px;

        .quantity {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            width: 100%;

            button {
                font-size: 2rem;
                padding: 10px;
                background-color: white;
                border: none;

                &:hover {
                    cursor: pointer;
                }

                &:active {
                    transform: scale(0.9);
                }
            }

            input {
                font-size: 1.5rem;
                padding: 10px;
                border: 2px solid black;
                border-radius: 5px;
                width: 25%;
                text-align: center;
            }
        }
    }
}
