@use '../../global_styles/color';

.Footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: color.$primary;
    height: 50px;
    box-shadow: 0 0 30px rgb(0, 0, 0, 0.7);
    color: white;
    // border-radius: 5px 5px 0 0;
    flex-shrink: 0;

    a {
        margin: 10px;
    }

    a:hover {
        text-shadow: 0 0 10px color.$secondary;
    }
}
